doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Creative - Start Bootstrap Theme
    
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/index.css')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
    
  body#page-top
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
      .container
        a.navbar-brand.js-scroll-trigger(href='#') Start OVE
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link.js-scroll-trigger(href='/user/login') log in
            li.nav-item
              a.nav-link.js-scroll-trigger(href='/user/signup') sign up
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#email') Contact
    //aheader.masthead.text-center.text-white.d-flex
      
    section#about.bg-primary
      .container
        .row
          .col-lg-8.mx-auto.text-center
            h2.section-heading.text-white We've got OVE that you need!
            hr.light.my-4
            p.text-faded.mb-4
              | Start OVE has everything you need to get your project start up and editing in no time! All of the videos can be uploaded to OVE, make your own fancy moments, enjoy cloud editing services and fall in love with it from now on!
            a.btn.btn-light.btn-xl.js-scroll-trigger(href='/user/login') Get Started!
    section#services
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading Why Choose OVE ?
            hr.my-4
      .container
        .row
          .col-lg-3.col-md-6.text-center
            .service-box.mt-5.mx-auto
              i.fa.fa-4x.fa-desktop.text-primary.mb-3.sr-icons.desktop
              h3.mb-3 No desktop 
              p.text-muted.mb-0 Our platform is web-based, powerful as ever.
          .col-lg-3.col-md-6.text-center
            .service-box.mt-5.mx-auto
              i.fa.fa-4x.fa-paper-plane.text-primary.mb-3.sr-icons
              h3.mb-3 Ready to go
              p.text-muted.mb-0 You can use OVE as you like, just need an account!
          .col-lg-3.col-md-6.text-center
            .service-box.mt-5.mx-auto
              i.fa.fa-4x.fa-newspaper-o.text-primary.mb-3.sr-icons
              h3.mb-3 Easy to operate
              p.text-muted.mb-0 We provide most easy operations to you.
          .col-lg-3.col-md-6.text-center
            .service-box.mt-5.mx-auto
              i.fa.fa-4x.fa-heart.text-primary.mb-3.sr-icons
              h3.mb-3 Made with Love
              p.text-muted.mb-0 We made this platform with love these days!
  
          
    section.bg-dark.text-white
      .container.text-center
        h2.mb-4 Just Free Video Editing at OVE ! 
        .footer-copyright.text-center.py-3
        | © 2018 Copyright:
        a(href='#')  zhili's capstone
        .footer-copyright.text-center.py-3
        | email address: 
        a#email(href='https://mail.google.com/mail/') zl2613185@gmail.com
        // Footer
    
    // Bootstrap core JavaScript
    script(src='vendor/jquery/jquery.min.js')
    script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
    // Plugin JavaScript
    script(src='vendor/jquery-easing/jquery.easing.min.js')
    script(src='vendor/scrollreveal/scrollreveal.min.js')
    script(src='vendor/magnific-popup/jquery.magnific-popup.min.js')
    // Custom scripts for this template
    script(src='js/creative.min.js')
