extends layout
block content
    // content
    .ui.grid 
        .row
            .five.wide.column
                .ui.styled.fluid.accordion


                    .active.title
                        i.dropdown.icon 
                        |   Source
                    .active.content
                        h3  #{video.title}
                    
                    
                    .title
                        i.dropdown.icon
                        |   Clips
                    .content
                        .ui.list
                            .item(href='www.google.com')
                                 
                                | Apples
                        
                    
                    .title
                        i.dropdown.icon
                        |                             Merge
                   
                    .content
                       
                        p
                            | Do you want merge all clips to the final video ?



                    .title
                        i.dropdown.icon
                        |   Watermark
                    .content
                        form(action='/upload', method='post', enctype='multipart/form-data')
                            h4 Please submit your image as watermark here
                            input(type='file', name='image')
                            input(type='submit', value='submit')
                            br
                            small (notice: this image will automatically transform to watermark)
                            .ui.divider
                            p.doneornot you haven't upload your watermark
                            image
                          

                    .title
                        i.dropdown.icon
                        |                            Export
                    .content
                        
                        p
                            | Do you wanna merge and export it ?
                            | choose format avi  mp4  flv  ..
                       

                    .title
                        i.dropdown.icon
                        |                            Your operation log
                    .content
                        
                        p
                            | Logs of what you have done.   
                br 
                br
                br
                .ui.progress.success
                    
                    .bar
                        .progress
                            
            
            .eleven.wide.column
                #player

        .ui.divider
        
        
        
        .row
            .eleven.wide.column
                br
                br
                br
                br
                #slider
                   
            
            .five.wide.column
                .ui.top.attached.tabular.menu
                    a.item.active(data-tab='split') Spilt
                    a.item(data-tab='speed') Speed
                   
                .ui.bottom.attached.tab.segment.active(data-tab='split')
                    div
                        input#start
                        
                    br
                    br
                    
                    div
                        input#end 
                        | &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        button  choose speed
                .ui.bottom.attached.tab.segment(data-tab='speed')
                    select.ui.dropdown
                        option(value="0") Slow           
                        option(value="1") Normal            
                        option(value="2") Fast            
                    button confirm 


