extends layout
block content
    // content
    .ui.grid 
        .row
            .five.wide.column
                .ui.styled.fluid.accordion





                    .active.title
                        i.dropdown.icon 
                        |   Source
                    .active.content
                        h3  #{video.title}
                    
                    



                    .title
                        i.dropdown.icon
                        |   Clips
                    .content
                        .ui.list
                            .item(href='www.google.com')
                                 
                                | Apples
                        





                    
                    .title
                        i.dropdown.icon
                        |                             Merge
                   
                    .content
                       
                        p
                            | Do you want merge all clips to the final video ?






                    .title
                        i.dropdown.icon
                        |   Watermark
                    .content
                        form(action='/upload', method='post', enctype='multipart/form-data')
                            h4 Please submit your image as watermark here
                            input(type='file', name='image')
                            input(type='submit', value='submit')
                            br
                            small (notice: this image will automatically transform to watermark)
                            .ui.divider
                            p.doneornot you haven't upload your watermark
                            image
                    
                    
               

                    .title
                        i.dropdown.icon
                        |                            Export
                    .content
                        
                        p
                            | Do you wanna merge and export it ?
                       



                    .title
                        i.dropdown.icon
                        |                            Your operation log
                    .content
                        
                        p
                            | Do you wanna merge and export it ?   
                br 
                br
                br
                .ui.progress.success
                    
                    .bar
                        .progress
                            
            
            .eleven.wide.column

                .flowplayer
                    video(src='/Users/ZL/Desktop/OVE/public/existedVdieos/1.mp4' width='950', height='464' )
                    

        .ui.divider
        
        
        
        .row
            .eleven.wide.column
                p
                    | dsadasdasdasdadasdaadasdasdasdadasdasdasdadasdasdasdadasdasdasda
            
            .five.wide.column
                form(action='/upload', method='post', enctype='multipart/form-data')
                    h2 单图上传
                    input(type='file', name='logo')
                    input(type='submit', value='提交')

