extends layout
block content
    // content
    .ui.grid 
       
        
        .row

            .eleven.wide.column
                p#path(hidden='') #{video.videoPath} 
                    
                    
                #player

            .five.wide.column
                .ui.styled.fluid.accordion

                    .active.title
                        i.dropdown.icon 
                        |   Source
                    .active.content
                        h3  #{video.title}
                    
                    
                    .title#clips
                        i.dropdown.icon
                        |   Clips
                    .content
                        .ui.list
                            .item(href='www.google.com')
                                 
                                | Apples
                        
                    
                    .title
                        i.dropdown.icon
                        |                             Merge
                   
                    .content
                       
                        p
                            | Do you want merge all clips into the final video ?



                    .title
                        i.dropdown.icon
                        |   Watermark
                    .content
                        form(action='/upload', method='post', enctype='multipart/form-data')
                            h4 Please submit your image as watermark here
                            input(type='file', name='image')
                            input(type='submit', value='submit')
                            br
                            small (notice: this image will automatically transform to watermark)
                            .ui.divider
                            p.doneornot you haven't upload your watermark
                            image
                          

                    .title
                        i.dropdown.icon
                        |                            Export
                    .content
                        
                        p
                            | Do you wanna merge and export it ?
                            | choose format avi  mp4  flv  ..
                       

                    .title
                        i.dropdown.icon
                        |                            Your operation log
                    .content
                        
                        p
                            | Logs of what you have done.   
                br 
                br
                br

                .div.myProgress(hidden='hidden')
                    .ui.teal.progress
                        .bar
                            .progress
                            
        .ui.divider
        
        .row
            
            .eleven.wide.column#sa
                // min="1" max="100" value="80" id="myRange"          
                .slidecontainer
                    
                    br                
                    input#myRange.slider(type='range', min='1', max='3750')
           
            
            
            .five.wide.column
                .ui.top.attached.tabular.menu
                    a.item.active(data-tab='split') Spilt
                    a.item(data-tab='speed') Speed
                   
                .ui.bottom.attached.tab.segment.active(data-tab='split')
                    div
                        input#startI
                        button#start Start
                        
                        |
                        |
                        |
                        input#time
     
                    br
                  
                    
                    div
                        input#endI
                        button#end End
                        
                        button#reset Reset
                        

                .ui.bottom.attached.tab.segment(data-tab='speed')
                    select.ui.dropdown#speed
                        option(value="2") Slow  1 / 2         
                        option(value="1") Normal            
                        option(value="1/2") Fast   2         
                     
                    
                    
                    input#name(placeholder="  Type clip name here")
                    br
                    button#confirm confirm

