extends ../layout

block content

    // content
    .ui.container
        br
        br
        br
        .ui.relaxed.divided.items
            .item
                .ui.small.image
                    img(src='/images/images.jpeg')
                .content
                    a.header Content Header
                    .meta
                        a Date
                        a Category
                    .description
                        | A description which may flow for several lines and give context to the content.
                    .extra
                        .ui.right.floated.primary.button
                            | Enter
                            
                        .ui.label
                            | Sports
            .item
                .ui.small.image
                    img(src='/images/images.jpeg')
                .content
                    a.header Content Header
                    .meta
                        a Date
                        a Category
                    .description
                        | A description which may flow for several lines and give context to the content.
                    .extra
                        .ui.right.floated.primary.button
                            | Enter
                           
                        .ui.label
                            | Entertainment
                        .ui.label
                            | Idol
            .item
                .ui.small.image
                    img(src='/images/images.jpeg')
                .content
                    a.header Content Header
                    .meta
                        a Date
                        a Category
                    .description
                        | A description which may flow for several lines and give context to the content.
                    .extra
                        .ui.right.floated.primary.button
                            | Enter
                            
                        .ui.label
                            | Sports
        br
        br
        br
        .row
            button.ui.inverted.circular.segment
                h3.ui.inverted.header
                    //- a(href="/workspace")
                    //- | Create New One
                    a(href="/workspace") Create New One