.slidecontainer {
    width: 100%;
    /*  trackthumbs width */
}

.slider {
    -webkit-appearance: none;
    width: 15468px;
    height: 100px;
    background: url("/images/frameTrack/video-1528089937125.mp4.png"),
    no-repeat;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-width: 20px;
    border-color: yellow;
}

.slider:hover {
    opacity: 0.95;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2px;
    height: 200px;
    background: rgb(109, 15, 15);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 50px;
    background: #4CAF50;
    cursor: pointer;
}


#sa {
   /*
    background-color: rgba(0, 0, 0, 0.8);
    */
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    /* 1 */
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-overflow-scrolling: touch;
    /* 2 */
    text-align: justify
   
}


::-webkit-scrollbar {
    width: 12px;
    
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient(left, #547c90, #002640);
    border: 1px solid #333;
    box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.4);
}




