extends layout

block content
    .container

    if hasErrors
        .alert.alert-danger
            each message in messages
                p #{message}

    form(action="/user/login", method="post", class='ui form')
        div.field
            label(for="email") Email
            input(type="email"  id="email" name='email' placeholder="Enter your email address")
            small We'll never share your email with anyone else.

        div.field
            label(for="Password") Password
            input(type="password" id="Password" name='password' placeholder="Enter your password")

        -var cs= csrfToken;
        input(type="hidden" name="_csrf" value= cs)

        button.btn.btn-primary(type="submit") Log In
    br
    p
        | Don't have an account?
        a(href="/signup")
            = '  '
            | Sign Up Instead!