extends layout

block content
.container
    
    if hasErrors
        .alert.alert-danger
            each message in messages
                p #{message}


    form(action="/user/signup", method="post", class='ui form')
        div.field
            label(for="email") Email
            // for means serve the name for focus
            input(type="email" name='email' class="form-control" id="email" placeholder="Enter email")
            small(id="emailHelp" class="form-text text-muted") We'll never share your email with anyone else
        div.field
            label(for="password") Password
            input(type="password" name='password' class="form-control" id="password" placeholder="Password")

        -var cs= csrfToken;
        input(type="hidden" name="_csrf" value= cs)
                
        button.btn.btn-primary(type="submit") Sign Up
    p
        | I do have an account !
        a(href="/login")
            = '  '
            | Log In Now !